* {
  font-family: "Lato";
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

main {
  width: 80%;
}

footer {
  margin-top: auto;
  margin-bottom: 5px;
}
