@font-face {
  font-family: "LatoWebBlack";
  src: url("fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebBlack";
  src: url("fonts/Lato-BlackItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebBold";
  src: url("fonts/Lato-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebBold";
  src: url("fonts/Lato-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebHairline";
  src: url("fonts/Lato-Hairline.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebHairline";
  src: url("fonts/Lato-HairlineItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebHeavy";
  src: url("fonts/Lato-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebHeavy";
  src: url("fonts/Lato-HeavyItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWeb";
  src: url("fonts/Lato-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebLight";
  src: url("fonts/Lato-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebLight";
  src: url("fonts/Lato-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebMedium";
  src: url("fonts/Lato-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebMedium";
  src: url("fonts/Lato-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWeb";
  src: url("fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebSemibold";
  src: url("fonts/Lato-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebSemibold";
  src: url("fonts/Lato-SemiboldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebThin";
  src: url("fonts/Lato-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoWebThin";
  src: url("fonts/Lato-ThinItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
