name: Continuous deployment

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.92.2'
          extended: true
      - name: Change to deploy branch
        run: git checkout -b deploy
      - name: Build website
        run: hugo --minify
      - name: Clean hosting branch
        run: ls | grep -v -E "public|CNAME" | xargs rm -rf
      - name: Copy built files
        run: cp -r public/* .
      - name: Commit and push
        run: |
          git config user.name "Ivan Padalko"
          git config user.email "dev@impadalko.com"
          git add .
          git commit -m "Automated Deploy $(date '+%Y-%m-%d')"
          git push origin deploy --force
